.digital {
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
  &__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__info__title {
    width: 80%;
    font-size: 38px;
    font-weight: 600;
    line-height: 55px;
  }
  &__info__desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    max-width: 100%;
  }
  &__btns {
    width: 60%;
    background-color: #a259ff;
    display: flex;
    gap: 20px;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
  }
  &__info__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  &__statistic {
    display: flex;
    width: 100%;
    gap: 50px;
  }
  &__statistic__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__num {
    font-size: 33px;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: Space Mono;
  }
  &__sale {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  &__right__cards {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    background-color: #3b3b3b;
    border-radius: 40px 40px 20px 20px;
  }
  &__cosmic {
    width: 100%;
  }
  &__right__card {
    padding: 15px;
  }
  &__right__card__title {
    font-size: 24px;
    font-weight: 600;
  }
  &__card__bottom {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .digital {
    width: 100%;
    &__info {
      width: 50%;
    }
    &__info__title {
      font-size: 67px;
      font-weight: 600;
      line-height: 80px;
    }
    &__info_desc {
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
    }
    &__info__btn {
      font-size: 22px;
      font-weight: 600;
    }
    &__num {
      font-size: 44px;
      letter-spacing: 2px;
    }
    &__sale {
      font-size: 22px;
      font-weight: 300;
      letter-spacing: 0px;
    }
    &__statistic {
      gap: 100px;
      margin-top: 40px;
    }
    &__right__cards {
      border-radius: 80px 50px 30px 30px;
    }
    &__right__card {
      padding: 30px;
    }
  }
}

@media (min-width: 1440px) {
  .digital {
    width: 100%;
    &__info {
      width: 50%;
    }
    &__info__title {
      font-size: 70px;
    }
    &__info__desc {
      width: 80%;
      font-size: 22px;
    }
  }
}

@media (min-width: 1740px) {
  .digital {
    width: 100%;
    align-items: start;
    justify-content: center;
    gap: 0px;
    &__info {
      width: 50%;
      gap: 60px;
    }
    &__info__title {
      width: 60%;
      font-size: 84px;
      line-height: 100px;
    }
    &__info__desc {
      width: 60%;
      font-size: 32px;
      line-height: 40px;
    }
    &__statistic {
      gap: 100px;
    }
    &__num {
      font-size: 60px;
      letter-spacing: 8px;
    }
    &__right__cards {
      border-radius: 100px 100px 30px 30px;
    }
  }
}

@media (max-width: 862px) {
  .digital {
    display: none;
  }
}
